cafelogの情報が入ります
paramsのクエリパラメータを使って表示画面を少し変化させる

<div class="about-container">



<section id="first-about">
  <div class="cafelog-logo">

  </div>
  <div class="profile">
    大学生専用カフェアカウント
        SNS映えする女子大学生カフェ
    珈琲に拘る男子大学生カフェ
    wi-fi/電源がある就活生カフェ
    現役大学生が大学生ならではの目線で大学生におすすめのカフェを厳選して投稿
  </div>

</section>
<section id="second-about">

</section>
<section id="third-about">

</section>

</div>
