/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*@import "bootstrap";
 gemfileの操作とjs.applicationの操作が必要*/


@import "font-awesome";

.cafelog-header{
  width: 100%;
  height: auto;
  display: flex;
  background-color:#3f3931;
}
.header-logo{
  width: 72px;
  height: 72px;
  background-size: cover;
  background-image: image-url("../assets/cafelog-logo.jpg");
  border-radius: 50%;
  margin-right: auto; //これで要素を左詰めにしている
  margin-left: 5px;
}


.header-botton{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav{
  margin-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;

}
header a{
  color: white;
}

footer{
  position: fixed;
  width: 100%;
  height: auto;
  bottom:0px;
  right:0px;
}
.footer-botton{

  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #3f3931;

}

footer nav{
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
